*{
    margin: 0%;
    list-style: none !important;
    overflow-x: hidden;
    
}

body{
    background-color:  #E5E5E5;
    overflow-x: hidden;
    list-style: none !important;
}
.m-3:hover{
    text-decoration: underline !important;

    
    
    
}

.nav{
    padding-top: 20px !important;
    margin: 0% !important;
    width: 100%;
    
    list-style: none !important;
    justify-content: space-between !important;
    background-image: url("/static/images/Hero.jpg")
    
}
.nav{
    width: 100%;
    
    justify-content: space-between !important;
    font-weight: 600;
}
.topnav .icon {
    display: none;
}

.hero-logo{
    margin-left: 30px;
    width: 191px;
}
a{
    color: white !important;
}

a{
    text-decoration: none !important;
    color: white !important;
}
li button{
    color: white;
    border: none;
    border-radius: 30px;
    background-color: #DF0000;
    width: 100px;
    height: 37px;

} 
.about {
    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black !important;
   
}
.imglocal{
    width: 855px;
    height: 559.13px;
    margin-right: 292px;
    margin-left: 292px;
    margin-top: 50px;
}
.section2{
    display: flex;
    margin-top: 40px;
    gap: 130px;
    margin-left: 115px;
    margin-right: 115px;
    text-align: center;

}
.com{
    margin-left: 90px !important;
}
h3{
    color: white;
}
.ig{
    margin-left: 90px !important;
}
.pt{
    padding-top: 30px;
    
}
.section3 img {
    margin-left: 60px;
}

.section3{  
    display: flex;
    padding-left: 50px;
    padding-top: 70px;
    padding-right: 50px;
    justify-content: space-between;
    margin-top: 50px;
   height: 329px;
   background-color: #DF0000;
   background-size: cover;
}
.our{
    height: 100px;
}
.fs{
    font-size: 70px;
    height: 90px;
    text-align: center;

}
h4{
    height: 50px;
}
.gap{
    text-align: center;
    justify-content: space-between !important;
    margin-left: 120px;
    margin-right: 120px;
}
.margin{
    padding-top: 50px;
    justify-content: center;
}
.achievments{
    width: 100%;
}
.logof{
    width: 128.77px;
    height: 100.5px;
    margin-left: 0px;
}
.bg{
    background-color: #DF0000;
}

.cl{
    color: white;
    gap: 170px;
    padding-left: 60px;
}
.w{
    width: 290px;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #dddddd;
}
::-webkit-scrollbar-thumb{
    background-color: #DF0000;
}
footer{
    display: flex !important;

}
.footer-logo{
    width: 130px;
}
@media (max-width: 768px) {
    .hero-logo{
        width: 130px;
        margin-left: 8px;
        margin-bottom: 13px;
        justify-content: none;
    }
    .nav {
        width: 100%;
        font-size: 12px;
        justify-content: none;
    }
    .achievments .fs{
        width: 200px;
        font-size: 40px;
        gap: 0px !important;

    }
    .gap{
        margin-left: 0px;
        margin-right: 0px;
    }
    .logof{
        width: 90px;
        margin-left: 20px;
    }
    footer{
        font-size: 14px !important;
    }
    footer p{
        width: 110px !important;
        font-size: 13px !important;
        padding: 0 !important;
    }
}
@media (max-width: 425px){
    .icon{
        margin-right: 10px;
        font-size: 30px;
    }
    
    
    .fa{
        display: block;
    }
    .login{
        display: none;
    }
    .topnav a{
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }

}
@media screen and (max-width: 425px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    footer{
        padding-top: 40px;
        padding-bottom:30px ;
      flex-direction: column;
      gap: 20px !important;
      padding-left: 20px !important;
    }
    .section3 {
        display: list-item;
        height: auto;
        text-align: center;
        padding-bottom: 50px;
        
    }
    .p{
     padding-right: 0px !important;   
     width: 250px !important;
    }
    .menu{
        padding-left: 0px!important;
    }
    .imglocal{
        margin-left: 0%;
        width: 340px;
    }
    .section1{
        margin-left: 30px;
        margin-right: 30px;
    }
    .section2{
        display: list-item;
    }
    .fs{
        font-size: 30px !important;
        padding-right: 70px;
        
    }
    h4{
        height: auto;
       margin-top: 0px !important;
    }
    .section3 img {
        margin-left: 0px !important;
        
    }
}