{% extends 'base.html' %}
{% block body %} 
<section class="section1">
    <img class=" imglocal" src="{{ url_for('static', filename='./images/about us/illustration.svg') }}" alt="">
    <h1 class=" t text-center pt-5  fs-1 pb-5">DONORS is a Non Profitable <br> Organization.</h1>
    <p class=" text-center "> We focus our efforts on making, sure enough blood is available for patients when and where they need it. <br><br>

        According to WHO “world health organization”, many developing countries face severe shortage of blood. So the need for blood is <br> 
        universal, but access to blood for all those who need it is not. <br><br>
        
        Voluntary and unpaid regular blood donation is an act of solidarity and is required all over the world.</p>
</section>

<section class="section2 pb-5">
    <div>
    <h1 class="pb-3">Our Mission</h1>
    <p>Our mission is to connect blood donors with recipients, save and improve lives every day.</p>
</div>
<div>
    <h1 class="pb-3">Our vision</h1>
    <p>Make everyone aware of the need to donate blood so that there is no shortage in the blood bank.</p>
</div>
</section>

<section class=" text-center px-4 " >
    
    <h1 class=" pb-3">Our Core Values</h1>
    <p>Our core values have shaped the culture of our organization from the very beginning and they still hold true today. Along with our organizational strategy, they act as our guide, our daily reference, ensuring that we speak and act consistently across our business at all times.</p>
</section>

<section class=" section3 ">
    <div>
        <img src="{{ url_for('static', filename='./images/about us/Frame.svg') }}" alt="svg" class="">
        <h3 class=" pt-3">Do right always</h3>
    </div>
    <div>
        <img src="{{ url_for('static', filename='./images/about us/people-group-solid 1.svg') }}" alt="">
        <h3 class=" pt"> Uniting people </h3>
    </div>
    <div>
        <img src="{{ url_for('static', filename='./images/about us/lightbulb-solid1.svg') }}" alt="" class="ig">
        <h3 class=" pt-4"> Find the better ways</h3>
    </div>
    <div>
        <img src="{{ url_for('static', filename='./images/about us/Frame.svg') }}" alt="svg" class="com">
        <h3 class="pt-4">Make results happen</h3>
    </div>

</section>
<section class="achievments">
    <h1 class=" text-center pt-5 our">our achievements</h1>
    <div class="d-flex  align-content-center gap  margin ">
    <div>
        <h1 class="fs">+148</h1>
        <h4>Recipients</h4>
    </div>
    <div>
        <h1 class="fs">+205</h1>
        <h4>Donation</h4>
    </div>
    <div>
        <h1 class="fs">+113</h1>
        <h4 class="s">Donors</h4>
    </div>
</div>
</section >






{% endblock %} 