{% extends 'base.html' %}
{% block body %} 
<style>
    footer {
        display: none !important;

    }
    h1{
        font-weight: 900;
    }
</style>

    <h1 style="color:#DF0000 ;font-family: sans-serif; font-size: 90px; text-align: center !important; width: 900px; align-items: center; margin-left: 300px; margin-top:200px; "> Thank You! </h1>
    <p style="font-family: sans-serif; text-align: center; width: 600px;font-size: 25px; align-items: center;  margin-left: 460px; margin-bottom: 281px;">Your Message has been recieved <br> Successfully.</p>
{% endblock %} 