{% extends 'base.html' %}
{% block body %} 
<div>
    
        <section class="sec1 hero">
            <h1>contact us </h1>
            <div class="text">
                <h2>Contact Us if You Need Further Assistance.</h1>
                <div class="text">
                    <input type="text" name="Full name" id="" placeholder="Full Name">
                    <input type="email" name="email" id="" placeholder="Email">
                    <input class="msg" type="text" name="message" id="" placeholder="Message">
                    <a class="m-3" href=""><button>Send</button></a>
                </div>
            </div>
        </section>
    </header>
</div>
<section class="sec2">
    <div>
        <img src="" alt="">
        <h5>+ (123) 456 7890</h5>
    </div>
    <div>
        <img src="" alt="">
        <h5>Donors@gmail.com</h5>
    </div>
    <div>
        <img src="" alt="">
        <h5>169 S Park Dr, Ilford IG39AD.</h4>
    </div>

</section>
</div>
{% endblock %} 