{% extends 'base.html' %}
{% block body %} 

    <div class="under">
        <div>
            <h1>This Page is Under Construction!</h1>
            <p class="sa">Building is about getting around the obstacles that are presented to you. Good buildings come from good people, and all problems are solved by good design.</p>
        </div>
        <div>
            <img class="photo" src="{{ url_for('static', filename='images/undraw_under_construction_-46-pa.svg') }}" alt="">
        </div>
    </div>

    {% endblock %} 

