{% extends 'base.html' %}
{% block body %} 

    <section class="hero-text ">
            <div >
                <h1 id="h1">
                    Sometimes money cannot save life but <span style="color: 
                    #DF0000;"> donated blood can!</span>
                </h1>
                <p id="p" >a reliable platform to connect nearby blood donors with blood seekers.</p>
                <div class="donate">
                    <div class="" >
                        <button class="donation-b"><a href="http://127.0.0.1:9000/formule">Donate Now!</a></button>
                    </div>
                    <div class="" >
                        <button class="find"><a href="http://127.0.0.1:9000/find"> Find Donors</a></button>
                    </div>
                </div>
            </div>
    </section>
</div>
<div class="border"></div>
<section class="sec2">
<h1 class="h1"> Who We Are?</h1>
<div class="who ">
    <p class="pb-4">Our mission is to connect blood donors with recipients, save and improve lives every day.
        We focus our efforts on making, sure enough blood is available for patients when and where they need it.
    </p>
        
    <p class="pb-4">According to WHO “world health organization”, many developing countries face severe shortage of blood. So the need for blood is universal, but access to blood for all those who need it is not.</p>
        
    <p class="pb-4">Voluntary and unpaid regular blood donation is an act of solidarity and is required all over the world.</p>
</div>
</section>
<div class="border"></div>
<section class="sec3">
    <div class="problem">
        <div class="easy">
            <h2 class="head1">
                THE PROBLEM
            </h2>
            <p class="many">
                Many people around us struggle to find blood donors for critical patients, many people are willing to donate blood but finding an easy platform to use and to reach the seekers is a big task. and also many people do not want to donate blood thinking that these centers and organizations are selling it to patients.
            </p>
        </div>
        <div >
            <img class="exc" src="{{ url_for('static', filename='./images/Redicon.png') }}" alt="">
        </div>
    </div>
    <div class="connect">
        <div>
            <img class="trgt" src="{{ url_for('static', filename='./images/target preview.png') }}" alt="">
        </div>
        <div class="details">
            <h2>
                THE GOAL
            </h2>
            <p class="goal" style="">
                Our goal is to connect donors with recipients to ensure their blood goes directly to patients, Show the closest blood donors with their contact details so patients have easy access and communicate directly with them.
            </p>
        </div>
    </div>
</section>
<div class="border"></div>
<section class="sec4">
    <h1 class="h1 mt-4" id="h11">
        HOW OUR PROCESS WORK
    </h1>
    <div class="container works">
        <div class="acc">
            <h1 class="num">01</h1>
            <h3 class="rec">
                Create <br> Account
            </h3>
            <p>Donors create their accounts on the platform and enter their personal information with their blood type.</p>
        </div>
        <div  class="acc">
            <h1 class="num">02</h1>
            <h3 class="rec">
                Link Donors With Recipients
            </h3>
            <p>Connect blood donors and rexipients in a convenient and safe way.</p>
        </div>
        <div class="acc" >
            <h1 class="num">03</h1>
            <h3 class="rec">
                Shedule <br> Donation
            </h3>
            <p>Both the donor and the recipient agree on the place and time of the donation process, according to the urgency or need of the recipient.</p>
        </div>
    </div>
</section>
<div class="border"></div>
    <h1  style="margin-top: 30px; " class="h1">Testimonials</h1>
<section class="sec5">
    
    
        <div id="slideshow">
            <div class="slide-wrapper">
                <div class="slide">
                    
                    <img src="{{ url_for('static', filename='images/Ellipse 3.png') }}" alt="" class="donerss">
                    <h4 class="nom">SAAD-EDDINE DAHMI</h4>
                    <h5 class="don">Donor </h5>
                    <p class="who">Our mission is to connect blood donors with recipients, save and improve lives every day. We focus our efforts on making, sure enough blood is available for patients when and where they need it.</p>
                </div>
                <div class="slide">
                    <img src="{{ url_for('static', filename='images/Ellipse 1.png') }}" alt="" class="donerss">
                    <h4 class="nom">IMANE TANTA</h4>
                    <h5 class="don">Donor </h5>
                    <p class="who">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti aliquid dolorem autem enim corporis reprehenderit accusamus vitae, earum, hic odit quos possimus adipisci modi.</p>
                </div>
                <div class="slide">
                    <img src="{{ url_for('static', filename='images/Ellipse 2.png') }}" alt="" class="donerss">
                    <h4 class="nom">YASSINE AKAZI</h4>
                    <h5 class="don">Donor </h5>
                    <p class="who">Our mission is to connect blood donors with recipients, save and improve lives every day. We focus our efforts on making, sure enough blood is available for patients when and where they need it.</p>
                </div>
                <div class="slide">
                    <img src="{{ url_for('static', filename='images/Ellipse 2.png') }}" alt="" class="donerss">
                    <h4 class="nom">AIMAD HASNAOUI</h4>
                    <h5 class="don">Donor </h5>
                    <p class="who">Our mission is to connect blood donors with recipients, save and improve lives every day. We focus our efforts on making, sure enough blood is available for patients when and where they need it.</p>
                </div>
            </div>
        </div>
    
</section>
<section class="sec6">
    <div class="border"></div>
    <div class="faqs">
        <h1 class="h1" id="fq"> FAQs</h1>
        
        <h2 class="accordion">Q: Why should people donate blood?<span class=" s">+</span></h2>
        <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <h2 class="accordion">Q:How much blood will be taken ? Will i have enough ?<span class=" plus0">+</span></h2>
        <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <h2 class="accordion">Q:Who should not give blood ?<span class=" plus1">+</span></h2>
        <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <h2 class="accordion">Q:Is giving blood safe ? <span class=" plus">+</span></h2>
        <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</section>
<section class="sec7">
    <div class="app">
        <img  class="bgg" style="width: 300px ; margin-left:50px;" src="{{ url_for('static', filename='images/bg.png') }}" alt="">
        <div >
            <img class="apps" src="{{ url_for('static', filename='./images/application 1440 x 715.jpg') }}" alt="">
        </div>
        <div class="future">
            <h2 >Future mobile <br> version.</h2>
            <p >As our website visitors to our website requested the mobile version, we decided to start thinking about creating an app to facilitate the process of connecting donors to recipients.
            </p>
            <h6> STAY TUNED</h6>
        </div>
    </div>
</section>

<section class="sec8">
    <div class="border"></div>
    <h1 class="h1  pt-4 auto">
        OUR PARTNERS
    </h1> 
    <div class="partners container">
        <div>
            <img class="si7a" src="{{ url_for('static', filename='images/partners/Groupicons-1.png') }}" alt="">
        </div>
        <div >
            <img class="si7a" src="{{ url_for('static', filename='images/partners/Groupicons-2.png') }}" alt="">
        </div>
        <div>
            <img class="tadamon w" src="{{ url_for('static', filename='images/partners/tadamon 1icons.png') }}" alt="">
        </div>
        <div >
            <img class="si7a" src="{{ url_for('static', filename='images/partners/Groupicons.png') }}" alt="">
        </div>
        <div>
            <img class="si7a" src="{{ url_for('static', filename='images/partners/Logo_SNRT 1icons.png') }}" alt="">
        </div>
    </div>
</section>

{% endblock %} 