{% extends 'base.html' %}
{% block body %} 

        <img class="hero-logo" src="../main page images/logo/Group 77logo.svg" alt="#">

    <div>
        <h1>Privacy</h1>
    </div>
    <div>
        <h2> Blood Donor Register</h2>
        <p>By joining the Blood Donor Register you are agreeing to be contacted by NHS Blood and Transplant (NHSBT) for information on how to become a blood donor. <br>
            <br>
            NHSBT or its agents may contact you by letter, phone, text message or email with information relating to opportunities to donate as well as follow-up communications once you book an appointment to donate. <br>
            <br>
            We do our best to contact you in the way you prefer about the subjects you prefer. If you want us to change the way we contact you, please let us know by contacting our helpline on 0300 123 23 23, or by completing our contact us form 
        </p>
    </div>
    <div>
        <h2> Plasma Donor Register</h2>
        <p>By joining the Plasma Donor Register you are agreeing to be contacted by NHS Blood and Transplant (NHSBT) for information on how to become a plasma donor. <br>
            <br>
            NHSBT or its agents may contact you by letter, phone, text message or email with information relating to opportunities to donate plasma as well as follow-up communications once you book an appointment to donate. <br>
            <br>
            We do our best to contact you in the way you prefer about the subjects you prefer. If you want us to change the way we contact you, please let us know by contacting our helpline on 0300 123 23 23, or by completing our contact us form 
        </p>
    </div>
    <div>
        <h2> Donor Digital Service</h2>
        <p>By registering with the Donor Digital Service, you agree to the NHS Blood and Transplant’s general Terms of Use (including disclaimers), Privacy Policy, Cookie Usage, and the Terms and Conditions set out below: <br>
            <br>
            Terms of use <br>
            The Service <br>
            Your information <br>
            How we use your information <br>
            Web site usage <br>
            Passwordless authentication for NHS Give Blood App <br>
            Our responsibilities <br>
            Your rights <br>
            How to access your records <br>
            We amend these terms of use from time to time, and the revised version will be effective when displayed here. 
        </p>
    </div>
    <div>
        <h2>Terms of use</h2>
        <p>If you access any part of the Donor Digital Service (the Service) via blood.co.uk and its subdomains or the NHS Give Blood app, you agree: <br>
            <br>
            To ensure that any details which you supply to us to register for such access are accurate and to update your profile promptly if any of the details which you have supplied to us about you change; <br>
            To keep any personal login name and any password confidential, and to be responsible for any loss or damage resulting from use of your password by any third party; <br> 
            <br>
            That we reserve the right to terminate your access to the Service should we consider that your use of the service is detrimental to the Service or to other users. <br>
            <br>
            We shall use any personal information you submit to the Service and other information we hold about you in accordance with our Privacy Policy. In particular, we shall use the information (including sensitive personal information relating to your physical health) to provide you with a donor information service as described. By registering for the service through this form, you give your consent to such use of your personal information.
            While we will use our reasonable endeavours to ensure that the information provided by the Service is accurate, the service (including records of blood stocks, your blood type and number of donations) is provided to support your own records and you should always check with an appropriately qualified health professional before donating. </p>
    </div>
    <div>
        <h2>The Service</h2>
        <p>The Donor Digital Service will allow you to undertake the following activities (depending on the type of donation being made): <br>
            <br>
            Register (or register interest) to donate <br>
            Create an online account <br>
            Find out where you can donate <br>
            Set and update your favourite locations to donate <br>
            Find locations to donate based on their proximity to your mobile device <br>
            Book an appointment <br>
            View, change or cancel appointments <br>
            Check your eligibility to donate <br>
            Update your personal details <br>
            View your recent donation history <br>
            View a digital version of your donor card via the NHS Give Blood app <br>
            View notifications and messages <br>
            The service can be accessed by visiting blood.co.uk or by downloading the NHS Give Blood app (Apple iOS and Google Android versions available). <br>
            <br>
            You can access the Service using the email address and password you provided when you registered (depending on the type of donation). You can also access the Service via certain social platforms if you connect them in the My Account section of the Service. <br>
            <br>
            From time to time, we may test new ideas or technologies as we strive to improve our services. This may result in the need to, for example, store data in new databases. We will always apply our policies and procedures to such changes and will list any activities below: <br>
            <br>
            Join.blood.co.uk: A project that is testing how we can improve the support for registrants and meet the demand for specific blood types. The project will temporarily store personal data in a controlled database to support communication with registrants and managed securely by NHS Blood & Transplant. The project will also utilise new technology to protect the service from attacks e.g. reCAPTCHA.</p>
    </div>
    <div>
        <h2>Your information</h2>
        <p>When you register with the Service, you will be required to fill in mandatory fields indicated.
            <br>
            When you enrol as a donor, your personal details are entered on to our donor database. Your record will in time contain some or all of the following types of information: <br>
            <br>
            Your personal details: name, address, date of birth, gender, telephone number(s), donor ID number, NHS number, ethnicity; <br>
            <br>
            Attendance details: where you normally donate, your appointments and where and when you donated; <br>
            <br>
            Donation details: including your blood group and the results from all the other tests we perform on your donations; <br>
            <br>
            Correspondence: details of communications we have sent;<br>
            <br>
            Location data: With your permission, the NHS Give Blood app will use the location of the device you are using to suggest donation venues in your vicinity; <br>
            <br>
            Other information: for example periods of unavailability because of travel or illness. Other information that may affect your eligibility to donate, or post-donation problems you have told us about.

        </p>
    </div>
    <div>
        <h2>How we use your information</h2>
        <p>
            We use this information: <br>
            <br>
            to guide you through the process of registering to become a donor <br>
            to work out when and where to invite you to donate; <br>
            to communicate with you via: <br>
            - email <br>
            - text message <br>
            - notifications to your mobile device <br>
            - inbox messages (accessed via our digital service)<br>
            - phone call<br>
            - post <br>
            to deliver information in relation to: <br>
            - when you are eligible to donate<br>
            - forthcoming opportunities to donate in your area<br>
            - confirming and preparing for donation appointments <br>
            - letting you know how we have used your donation<br>
            - information about other donation matters<br>
            - developments in our services<br>
            - opportunities for paid and voluntary research projects to improve our products and services<br>
            - encouraging you to continue to donate.<br>
            We do our best to contact you in the way you prefer about the subjects you prefer. If you want us to change the way we contact you, please let us know by contacting our helpline on 0300 123 23 23, or by completing our contact us form <br>
            <br>

            to ensure your safety, and that of patients who may receive your donations. If we find a problem with your health, we will let you know. If appropriate we will also tell your GP, after asking your permission to do so.
            for clinical audit, to assess and improve our service. We routinely audit all aspects of the donation process, for example to check that the Donor Safety Check forms are completed properly, and that interviews with our healthcare professionals are conducted in accordance with the guidelines. Results of audits are always presented with all donor identities removed.
            for research, to improve our knowledge about the donor population. By looking at the sorts of people who become active donors, we can understand better how to meet their expectations of us, and identify opportunities for recruiting and retaining more donors. This is essential to help us to collect adequate supplies of all types of blood.
            For management and administration, for example to help us to plan where and when to hold collection sessions.<br>
            Whenever personal identifiers are not needed for these tasks, if possible we remove them from the information we use.<br>
            <br>

            All information about you and your donations is stored securely in our systems to ensure that we have a complete record of your donations. We also keep the Donor Safety Check forms you complete every time you attend to donate. We are required by law (The Blood Safety and Quality Regulations 2005) to keep donor and donation information for a minimum of 30 years.<br>
            <br>
            It is very important to us to keep your address and contact details up to date, so that we are able to stay in touch. To do this we may compare the details we hold with central NHS records or those of other organisations that offer approved services for checking and updating addresses.<br>
            <br>
            As we are an NHS organisation, we may use people’s NHS numbers to help us ensure correct identification and to find and remove duplicate records on our systems.<br>
            <br>
            Other than for keeping our own records up to date against central records, we do not allow any other organisation to access the donor base.<br> 
            <br>
            We do not give or sell donor details to any third parties.<br>
            <br>
            As part of the NHS our lawful basis to hold and process data is set out in articles 6(e) and 9(h) of current data protection legislation. In summary, it necessary for the performance of a task carried out in the public interest, which in the case of NHSBT is to enable the collection and processing of the donations required to produce blood products for NHS hospitals. For full details, visit the NHSBT Privacy Statement.
        </p>
    </div>
    <div>
        <h2>Communications that you cannot opt-out from receiving</h2>
        <p>
            There are currently three categories of communications that donors are not able to withdraw consent from receiving: <br>
                <br>
                1. Donor Digital Service related communications <br>
                <br>
                We will automatically receive an email when you undertake one of the following actions using the Digital Service: Email address validation / Registration confirmation / Appointment booking & amendment confirmation / Password reset / Username recovery.<br>
                <br>
                If you do not want to receive appointment booking and amendment confirmation communications, please call us to arrange your appointment on + (123) 456 7890<br>
                <br>
                2. Appointment cancellations<br>
                <br>
                In the event that we need to cancel an appointment that you have already booked, we will use the contact information you have provided to advise you accordingly. Depending on the information you have supplied, this communication may be delivered as either an email, SMS, phone call or letter.<br>
                <br>
                3. British Bone Marrow Registry (BBMR) invitation<br>
                <br>
                If you join the BBMR and are identified as a possible match with a patient, then NHSBT will contact you to ask if you would like to proceed, ask you to provide further blood samples for testing and potentially ask you to come into one of our specialist centres for an explanation of the procedures and to donate.
        </p>
    </div>

    {% endblock %} 